.navpart {
   background-color:#0C170A;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   box-shadow: 3px 3px 9px 1px #193714;
   
}
.logo {
font-size: 2rem;
font-weight: 600;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo img{
   height: 7rem;
   margin-left: 2rem;
}


.navpart ul {
   list-style: none;

  
}

.navpart ul li {
padding: 30px;
  display: inline-block;
  font-size: 18px;
  font-weight:700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 10px;

}

.navpart a {
   text-decoration: none;
   color: aliceblue;
}

.navpart a:hover {
   opacity: 80%;
   padding: 25px;
   height: 20px;
   width: 25%;
   margin: -95px 0 ;
   border-radius: 40px;
   background: #FFFFFF;
   transition: .5s ease-in-out;
   color: #0C170A;
}

.library-img {
  background-image: url("images/Library.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  box-shadow: #0C170A 3px 3px 10px 3px;
  object-fit: cover;
}

h1{
   padding: 20px;
text-align: center;
font-family: 'Red Hat Display', sans-serif;
color: #0C170A;
}
.contactheader{
   margin: 0px;
   padding: 44px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: #193714;
}

.ContactForm{
   display: flex;
   align-items: center;
   padding: 45px;

}

.ContactForm h2{
   font-family: 'Red Hat Display', sans-serif;
   text-align: center;
   color: #FFFFFF;

}

.inputs {
   color: white;
   padding: 10px;
   width: 50%;
   font-family: 'Red Hat Display', sans-serif;
   
}

.inputs button {
   border: 2px solid #fff; 
   background-color: transparent; 
   padding: 10px 20px;
   border-radius: 4px; 
   color: #FFFFFF; 
   font-size: 16px; 
   cursor: pointer; 
   
}

.inputs button:hover {
   background-color: #0C170A; 
   color: #fff; 
}
