
.navpart {
    background-color:#0C170A;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 3px 3px 9px 1px #193714;
    
}
.logo {
 font-size: 2rem;
 font-weight: 600;
 font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo img{
    height: 7rem;
    margin-left: 2rem;
}


.navpart ul {
    list-style: none;

   
}

.navpart ul li {
padding: 30px;
   display: inline-block;
   font-size: 18px;
   font-weight:700;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   margin-top: 10px;

}

.navpart a {
    text-decoration: none;
    color: aliceblue;
 }

 .navpart a:hover {
    opacity: 80%;
    padding: 25px;
    height: 20px;
    width: 25%;
    margin: -95px 0 ;
    border-radius: 40px;
    background: #FFFFFF;
    transition: .5s ease-in-out;
    color: #0C170A;
 }
.heading h1{
    margin: 30px;
    text-align: center;
    font-family: 'Bitter', serif;
    color: #0C170A;
    
}

.heading p{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
    
}

.pic img {
    object-fit: cover;
    height: 400px;
 }

.container1{
    margin: 50px;
    background-color: #193714;
    padding: 50px;
    box-shadow: #193714 0px 0px 15px 3px;
    border-radius: 2%;
}
.container2{
    margin: 50px;
    box-shadow: #000 0px 0px 15px 3px;
    border-radius: 2%;
}

.container1 h1{
    margin: 40px;
    color: white;
    font-family: 'Bitter', serif;
}

.container1 p{
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin:50px;
    font-size: 20px;
    
}

.container2 h1{
    margin: 40px;
    color: #0C170A;
    font-family: 'Bitter', serif;
}

.container2 p{
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
    color: #0C170A;
    margin:50px;
    font-size: 20px;
    
}

.container3{
    margin: 50px;
    background-color: #193714;
    padding: 50px;
    box-shadow: #193714 0px 0px 15px 3px;
    border-radius: 2%;
}

.container3 h1{
    margin: 40px;
    color: white;
    font-family: 'Bitter', serif;
}

.container3 p{
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin:50px;
    font-size: 28px;
    
}